<?php
/**
 * Smart Home page module
 * Adminhtml base wrapper for content
 *
 * @category    Smart
 * @package     Smart_Homepage
 * @author      Pavel Panchyshnyy ppanchyshnyy@gmail.com
 * @var         $this Smart_Homepage_Block_Adminhtml_Main
 */
?>
<?php $widgetTypes = $this->getWidgetTypes() ?>
<?php $banners = $this->getBannersCollection() ?>

<div class="sm-content-wrapper">

    <div class="widget-block banners">
        <div class="sm-tab-head">
            <div class="sm-title">
                <strong><?php echo $this->__('Banners') ?></strong>
            </div>
            <span class="add-widget-button" data-redirect-url="<?php echo $this->getAddWidgetUrl('banner') ?>"><?php echo $this->__('Add Banner') ?></span>
        </div>
        <div class="sm-tab-content">
            <?php if($banners->getSize()): ?>
                <table>
                    <thead>
                        <th><?php echo $this->__('Id') ?></th>
                        <th><?php echo $this->__('Title') ?></th>
                        <th><?php echo $this->__('Content') ?></th>
                        <th><?php echo $this->__('From Date') ?></th>
                        <th><?php echo $this->__('To Date') ?></th>
                        <th><?php echo $this->__('Status') ?></th>
                    </thead>
                    <tbody>
                    <?php foreach($banners as $banner): ?>
                        <?php $statuses = $banner->getAvailableStatuses() ?>
                        <tr title="<?php echo $this->getBannerEditUrl($banner) ?>" class="redirect-title">
                            <td><?php echo $banner->getBannerId() ?></td>
                            <td><?php echo $banner->getTitle() ?></td>
                            <td><?php echo $banner->getContent() ?></td>
                            <td><?php echo $banner->getFromDate() ?></td>
                            <td><?php echo $banner->getToDate() ?></td>
                            <td><?php echo $statuses[$banner->getIsActive()]?></td>
                        </tr>
                    <?php endforeach ?>
                    </tbody>
                </table>
            <?php endif ?>
        </div>
    </div>

    <div class="widget-block sliders">
        <div class="sm-tab-head">
            <div class="sm-title">
                <strong><?php echo $this->__('Sliders') ?></strong>
            </div>
            <span class="add-widget-button" data-redirect-url="<?php echo $this->getAddWidgetUrl('slider') ?>"><?php echo $this->__('Add Slider') ?></span>
        </div>
        <div class="sm-tab-content">
        </div>
    </div>

    <div class="widget-block video">
        <div class="sm-tab-head">
            <div class="sm-title">
                <strong><?php echo $this->__('Videos') ?></strong>
            </div>
            <span class="add-widget-button" data-redirect-url="<?php echo $this->getAddWidgetUrl('video') ?>"><?php echo $this->__('Add Video') ?></span>
        </div>
        <div class="sm-tab-content">
        </div>
    </div>

</div>

<script type="text/javascript">
//<![CDATA[
    var handler = new SmartHandler();
//]]>
</script>