//
// Smart Home page module
// Adminhtml base styles
//
// @category    Smart
// @package     Smart_Homepage
// @author      Pavel Panchyshnyy ppanchyshnyy@gmail.com
//
@import "compass";
@import "compass/css3";

$sm-color-main: #5F767F;
$sm-color-white: #FFF;
$sm-color-main-lighter: lighten($sm-color-main, 40%);
$sm-color-button: #009FD1;
$sm-color-button-hover: darken($sm-color-button, 10%);
$sm-color-button-delete: #FF6161;
$sm-color-button-delete-hover: darken($sm-color-button-delete, 20%);

$sm-color-table-border: #757575;
$sm-color-table-head: #B5EDFF;
$sm-color-table-row: #FAE5CF;

/*
 * ----------------------------------
 * Standard styles rewrite
 * ----------------------------------
 */
p.form-buttons button {
  padding: 5px;
  border-color: #ccc #555 #555 #ccc;
  @include transition(all 0.3s linear);
}

.content-header h3 {
  color: $sm-color-button;
}

#nav li.active.level0 {
  background: $sm-color-button;
  @include transition(all 0.3s linear);
  @include box-shadow(inset 5px 6px 18px -5px rgba(0,0,0,0.64));

  &:hover {
    background: $sm-color-button-hover;
  }
}

button:not(.back) {
  background: $sm-color-button;
  border-color: $sm-color-button;

  &:hover {
    background: $sm-color-button-hover;
  }
}

button.save span {
  background: url(../images/icon_save.png) no-repeat;
  background-size: contain;
}

button.show-hide span {
  background: url(../images/show-hide_icon.png) no-repeat;
  background-size: contain;
}

button.cancel, button.delete {
  background-color: $sm-color-button-delete;
  border-color: $sm-color-button-delete;
  @include transition(all 0.3s linear);

  &:hover {
    background-color: $sm-color-button-delete-hover;
  }

  span {
    background: url(../images/delete_icon.png) no-repeat;
    background-size: contain;
  }
}

button.back {
  background-image: none;
  background-color: darken($sm-color-white, 5%);

  &:hover {
    background-color: darken($sm-color-white, 15%);
  }
}
/* ---------------------------------- */

/*
 * ----------------------------------
 * Native theme styles
 * ----------------------------------
 */
.widget-block {
  width: 100%;
  margin: 20px auto;

  &:first-child {
    margin-top: 10px;
  }

  .sm-tab-head {
    padding: 5px 15px;
    color: $sm-color-white;
    background-color: $sm-color-main;
    @include clearfix;

    .sm-title {
      float: left;
      background-color: $sm-color-button;
      padding: 5px;
      text-transform: uppercase;
    }

    .add-widget-button {
      float: right;
      display: block;
      position: relative;
      text-align: center;
      border-width: 2px;
      border-style: solid;
      border-color: #ccc #555 #555 #ccc;
      padding: 5px 12px;
      color: $sm-color-white;
      background-color: $sm-color-button;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      @include transition(all 0.3s linear);

      &:before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url('../images/icon_add.png') no-repeat;
        background-size: contain;
        vertical-align: sub;
        padding-right: 10px;
      }

      &:active {
        border-color: #555 #ccc #ccc #555;
      }

      &:hover {
        background-color: $sm-color-button-hover;
      }
    }
  }

  .sm-tab-content {
    padding: 10px;
    background-color: $sm-color-main-lighter;

    table {
      width: 100%;
      border-collapse: collapse;
      background-color: $sm-color-white;

      th {
        white-space: nowrap;
        padding: 2px 4px;
        border: 1px solid $sm-color-table-border;
        background-color: $sm-color-table-head;
      }

      td {
        padding: 2px 4px;
        border: 1px solid $sm-color-table-border;
      }

      tr {
        cursor: pointer;
        @include transition(all 0.3s linear);

        &:hover {
          background-color: $sm-color-table-row;
        }
      }
    }

  }
/* ---------------------------------- */
}