<?php
/**
 * Custom theme 'Hermes'
 */
?>
<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
?>
<?php if(count($this->getStores())>1): ?>
<div class="header-form-block language">
    <ul>
    <?php foreach ($this->getStores() as $_lang): ?>
        <?php $_selected = ($_lang->getId() == $this->getCurrentStoreId()) ? ' selected' : '' ?>
        <li class="item<?php echo $_selected ?>">
            <a href="<?php echo $_lang->getCurrentUrl() ?>" title="<?php echo $this->escapeHtml($_lang->getName()) ?>">
                <?php echo $this->escapeHtml($_lang->getCode()) ?>
            </a>
        </li>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
