
.sm-header-title {
    text-align: center;
}

.banner-container {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.banner-container img {
    padding: 15px 0;
}

.banner-content {
    position: absolute;
    top: 10%;
    left: 50px;
    width: 200px;
    height: 100px;
    opacity: 0.5;
    background-color: #3399CC;
}

.banner-content h3, .banner-content p {
    color: white;
    padding: 5px 10px;
}