<?php /* @var $this Hps_Securesubmit_Block_Form */
$_code = $this->getMethodCode();
$public_key = Mage::getModel('hps_securesubmit/payment')->getConfigData('publicapikey');
$allow_card_saving = Mage::getModel('hps_securesubmit/payment')->getConfigData('allow_card_saving');
$allow_heartland_gift = Mage::getModel('hps_securesubmit/payment')->getConfigData('allow_heartland_gift');
$_loggedIn = Mage::getSingleton('customer/session')->isLoggedIn();

if ($_loggedIn && $allow_card_saving) {
    $customerStoredCards = Mage::helper('hps_securesubmit')->getStoredCards( Mage::getSingleton('customer/session')->getCustomerId());
}
?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <?php if ($allow_heartland_gift): ?>
    <li id="<?php echo $_code; ?>_gift_card">
        <label for="<?php echo $_code ?>_giftcard_number"><?php echo $this->__('Optional Gift Card Number') ?></label><br />
        <input type="text" id="<?php echo $_code; ?>_giftcard_number" title="<?php echo $this->__('Gift Card Number') ?>" class="input-text validate-gift-number" value ="" autocomplete="off" name="payment[giftcard_number]" />
        <label id="gift-card-number-label" style="display: none;"></label>
        <a id="remove-gift-card" class="button" style="display: none;"><?php echo $this->__('Remove Gift Card') ?></a>
        <a id="apply-gift-card" class="button"><?php echo $this->__('Apply Gift Card') ?></a>
    </li>
    <?php endif ?>

    <?php if($_loggedIn && $allow_card_saving && count($customerStoredCards)): ?>
    <li>
        <label for="<?php echo $_code ?>_stored_card_checkbox"><?php echo $this->__('Use a stored card') ?></label>
        <div class="input-box">
            <input type="checkbox" id="<?php echo $_code ?>_stored_card_checkbox" />
        </div>
    </li>
    <li id="<?php echo $_code ?>_stored_cards" style="display: none">
        <label for="<?php echo $_code ?>_stored_card_select"><?php echo $this->__('Stored Card') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_stored_card_select"  autocomplete="off">
            <?php foreach ($customerStoredCards as $key => $card): ?>
                <option value="<?php echo $card->getId() ?>"><?php echo $card->getCcType().' ************'.$card->getCcLast4().' ('.$card->getCcExpMonth().'/'.$card->getCcExpYear().')' ?></option>
            <?php endforeach ?>
            </select>
        </div>
    </li>
    <?php endif ?>
    <li class="stored_cards_selected">
        <label for="<?php echo $_code ?>_cc_number"><?php echo $this->__('Credit Card Number') ?> <span class="required">&nbsp;</span></label>
        <div class="input-box">
            <input type="text" id="<?php echo $_code ?>_cc_number" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" autocomplete="off" />
            <input type="hidden" id="<?php echo $_code ?>_token" name="payment[securesubmit_token]" value="">
            <input type="hidden" id="<?php echo $_code ?>_cc_last_four" name="payment[cc_last_four]" value="">
        </div>
    </li>
    <li class="stored_cards_selected">
        <label for="<?php echo $_code ?>_expiration"><?php echo $this->__('Expiration Date') ?> <span class="required">&nbsp;</span></label>
        <div class="input-box">
            <div class="v-fix">
                <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month required-entry validate-cc-exp"  autocomplete="off">
                <?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
                <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>" <?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
                </select>
            </div>
            <div class="v-fix">
                <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry"  autocomplete="off">
                <?php foreach ($this->getCcYears() as $k=>$v): ?>
                    <option value="<?php echo $k?$k:'' ?>" <?php if($k==$this->getInfoData('cc_exp_year')):?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                <?php endforeach ?>
                </select>
            </div>
        </div>
    </li>
    <li class="stored_cards_selected">
        <label for="<?php echo $_code ?>_cc_cid"><?php echo $this->__('Card Verification Number') ?> <span class="required">&nbsp;</span></label>
        <div class="input-box">
            <div class="v-fix">
                <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="cvv required-entry input-text validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" value="" autocomplete="off" />
            </div>
            <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
        </div>
    </li>
    <?php if ($_loggedIn && $allow_card_saving && $public_key): ?>
    <li class="stored_cards_selected">
        <label style="display: inline-block;" for="<?php echo $_code ?>_cc_save_future"><?php echo $this->__('Save this card for future use?') ?></label>
        <div class="input-box">
            <input type="checkbox" id="<?php echo $_code ?>_cc_save_future" name="payment[cc_save_future]" value="Y" autocomplete="off" />
        </div>
    </li>
    <?php endif ?>
</ul>

<script type="text/javascript">
//<![CDATA[
<?php if($_loggedIn && $allow_card_saving && count($customerStoredCards)): ?>
    $('<?php echo $_code ?>_stored_card_checkbox').observe('click',function() {
        $$('.stored_cards_selected').invoke('toggle');
        $('<?php echo $_code ?>_stored_cards').toggle();
        $('<?php echo $_code ?>_cc_number').toggleClassName('validate-cc-number');
    });
<?php endif ?>

<?php if ($allow_heartland_gift): ?>
    Event.observe('apply-gift-card', 'click', function(event) {
        $j.ajax({
            url: "<?php echo Mage::getUrl('securesubmit/giftcard/getBalance', array('_secure' => TRUE)) ?>",
            type: "GET",
            data: "giftcard_number=" + $j("#<?php echo $_code; ?>_giftcard_number").val(),
            success: function(data) {
                if (data.error) {
                    alert('Error adding gift card: ' + data.message);
                } else {
                    //successful gift, show things
                    $j('#apply-gift-card').hide();
                    $j("#<?php echo $_code; ?>_giftcard_number").hide();
                    $j('#gift-card-number-label').text($j("#<?php echo $_code; ?>_giftcard_number").val() + " - $" + data.balance);
                    $j('#gift-card-number-label').show();
                    $j('#remove-gift-card').show();
                }
            }
        });
    });

    Event.observe('remove-gift-card', 'click', function(event) {
        $j('#apply-gift-card').show();
        $j("#<?php echo $_code; ?>_giftcard_number").val('');
        $j("#<?php echo $_code; ?>_giftcard_number").show();
        $j('#gift-card-number-label').text('');
        $j('#gift-card-number-label').hide();
        $j('#remove-gift-card').hide();
    });
<?php endif; ?>

if (typeof Payment !== 'undefined') {
    payment.secureSubmitPublicKey = '<?php echo $public_key ?>';
    payment.secureSubmitGetTokenDataUrl = '<?php echo Mage::getUrl('securesubmit/storedcard/getTokenData', array('_secure' => TRUE)) ?>';
} else if( !document.getElementById('multishipping-billing-form').empty() ){
    secureSubmit = securesubmitMultishipping(document.getElementById('multishipping-billing-form'));
    secureSubmit.secureSubmitPublicKey = '<?php echo $public_key ?>';
    secureSubmit.secureSubmitGetTokenDataUrl = '<?php echo Mage::getUrl('securesubmit/storedcard/getTokenData', array('_secure' => TRUE)) ?>';

    document.observe('dom:loaded', function() {
        Event.observe('payment-continue', 'click', function(e){ Event.stop(e); secureSubmit.save(); });
    });
}

if (typeof OPC !== 'undefined') {
    OPC.prototype.secureSubmitPublicKey = '<?php echo $public_key ?>';
    OPC.prototype.secureSubmitGetTokenDataUrl = '<?php echo Mage::getUrl('securesubmit/storedcard/getTokenData', array('_secure' => TRUE)) ?>';
}
//]]>
</script>
