<?php
/**
 * Smart Home page module
 * Content for rendering Banners, Sliders and so on
 *
 * @category    Smart
 * @package     Smart_Homepage
 * @author      Pavel Panchyshnyy ppanchyshnyy@gmail.com
 * @var         $this Smart_Homepage_Block_Content
 */
?>
<?php $banners = $this->getBanners() ?>

<h1 class="sm-header-title"><?php echo $this->__('Banners and Sliders firstly') ?></h1>

<?php foreach ($banners as $banner): ?>
    <?php if($banner->getImage()): ?>
        <div class="banner-container">
            <img src="<?php echo Mage::getBaseUrl('media').'smart/homepage/banners/'.$banner->getImage() ?>" alt="<?php echo $banner->getTitle() ?>" width="800" />
            <div class="banner-content">
                <h3><?php echo $banner->getTitle() ?></h3>
                <p><?php echo $banner->getContent() ?></p>
            </div>
        </div>
    <?php endif ?>
<?php endforeach ?>
