/**
 * Dacast integration module
 * System Config styles
 *
 * @category    Smart
 * @package     Smart_Dacast
 * @author      Pavel Panchyshnyy ppanchyshnyy@gmail.com
 */
h3.sm_dacast-header {
    background: url(dacast-logo.png) no-repeat scroll 0 0 transparent;
    height: 65px;
    overflow: hidden;
    padding: 0;
    font-size: 0;
    width: 340px;
}

#sm_dacast_settings {
    background-color: #EDF9FC;
}

#sm_dacast_settings .dacast-link {
    display: inline-block;
    border: 2px solid white;
    padding: 2px 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    background-color: #5f96bd;
    text-transform: uppercase;
}

#sm_dacast_settings .dacast-link:hover {
    transition: all 0.4s ease;
    background-color: #117491;
}

#row_sm_dacast_settings_register td {
    height: 30px;
    border-bottom: 1px solid #d6d6d6!important;
}

ul.tabs a.sm_dacast-section.active,
ul.tabs a.sm_dacast-section.active:hover {
    background: none repeat scroll 0 0 white;
}

ul.tabs a.sm_dacast-section span,
ul.tabs a.sm_dacast-section:hover span {
    background: url(dacast-small-logo.jpg) no-repeat 15px 0;
    background-size: contain;
    overflow: hidden;
    padding: 0;
    width: 140px;
    height: 22px;
    font-size: 0;
}