<?php
/**
 * Custom theme 'Hermes'
 */
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>

<div class="header-background">
    <div class="header-background-container">
        <div class="header-language-container left">
            <div class="switch-container store-language">
                <?php echo $this->getChildHtml('store_language') ?>
            </div>
            <div class="switch-container store-currency">
                <?php echo $this->getChildHtml('currency_switcher') ?>
            </div>
        </div>

        <div class="header-container right">

        </div>
    </div>
</div>